/**
 * @name Ultra
 * @version 1.0.7
 * @author TheCommieAxolotl#0001
 * @authorId 538487970408300544
 * @description A Smooth, Black theme
 * @source https://github.com/TheCommieAxolotl/BetterDiscord-Stuff/tree/main/Ultra
 * @website https://thecommieaxolotl.netlify.app/
 * @donate https://github.com/sponsors/thecommieaxolotl
 * @invite g2KnUw7u7N
*/

/* Imports */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/Touchup.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/UserBadges.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Code Pro:wght@550&display=swap");

/* Source */
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Ultra/Clients/betterdiscord.css");

:root,
.theme-dark {
    --text-normal: #FFFFFF;
    --text-muted: #AAAAAA;
    --text-link: #35B1FF;
    --text-positive: #50dc7d;
    --text-warning: #8d4949;
    --text-danger: #8d4949;
    --text-brand: #FFFFFF;
    --interactive-normal: rgba(4, 4, 5, 0);
    --interactive-hover: #dcddde;
    --interactive-active: rgba(4, 4, 5, 0);
    --interactive-muted: #4f545c;
    --background-primary: #222222;
    --background-secondary: #1A1A1A;
    --background-secondary-alt: #1A1A1A;
    --background-tertiary: #1A1A1A;
    --background-accent: #4F4F4F;
    --background-floating: #292929;
    --modal-background: #1A1A1A;
    --channeltextarea-background: #242424;
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-warning-foreground: #6e6af6;
    --info-danger-text: #fff;
    --info-help-text: #fff;
    --status-warning-text: #000;
    --background-mentioned: #BABABA;
    --background-mentioned-hover: #BABABA;
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --scrollbar-auto-thumb: #6e6af6;
    --brand-experiment: #FFFFFF;
    --brand-experiment-hover: #FFFFFF;
    --brand-experiment-560: #FFFFFF;
    --channels-default: #4a4a52;
    --selected-indicator: #ffffff;
    --hover-indicator: #AAAAAA;
    --font: "Lato";
    --code-font: "Source Code Pro";
    --boost-bar: none;
}

/* Made By The Commie Axolotl */
